/* generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float:right;
}

.btn{
    display: inline;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #FB775A;
}

.btn.btn-orange{
    background-color: #FB775A;
    color: white;
}

.btn.btn-white{
    background-color: white;
    color: #FB775A;
}

/* header */

/* nav bar */

.nav-bar{
    width: 100%;
    padding: 0 10%;
    background-color: #F4F9FD;
    line-height: 100px;
    border-bottom: 1px solid #33475B;
    font-size: 20px;
}

.login{
    text-align: right;
}

.language-contact a{
    text-decoration: none;
    color:#33475B ;
}

.fa-globe-europe{
    margin-right: 3px;
    color: #33475B;
}

.language-contact .fa-angle-down{
    color: #33475B;
    margin-left: 3px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid steelblue;
}

.fa-search{
    color: steelblue;
    margin-right: 20px;
}

.space{
    margin-right: 20px;
}

/* logo bar */

.logo-bar{
    width: 100%;
    padding: 0 10%;
    background-color: white;
    line-height: 100px;
    font-size: 20px;
    position: relative;
}

.logo{
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
}

.menu a{
    text-decoration: none;
    color: #33475B;
}

.menu .fa-angle-down{
    color: #33475B;
    margin-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    
}

/* jumbotron */

.h-principale{
    height: 654px;
    width: 100%;
    padding: 0 10%;
    background-color: #FEF2EF;
    background-image: url(../hubspot/img/jumbotron.png);
    background-size: 1520px;
    border-bottom: 4px solid #042D4C;
    
}

.jumbotron{
    height: 470px;
    position: relative;
    width: 45%;
    
}

.jumbo-text{
    position: absolute;
    top:20%;  
}

.jumbo-text h1{
    font-size: 300%;
    color: #33475B;
}

.jumbo-text .sottotitolo{
    margin: 25px 0 50px 0;
    color: #33475B;
    line-height: 25px;
}

.jumbo-text .btn.btn-orange.btn-large{
    padding: 20px 30px;
}

.jumbo-text .sottosottotitolo{
    margin-top: 50px;
    font-size: 14px;
    color: #33475B;
}

/* divisore */

.divisore{
    height: 100px;
    background-color: #AFEBE4;
    border-bottom: 4px solid #042D4C;
}

/* main */

main{
    background-color: #F4F9FD;
}

/* sezione 1 */

.section1{
    width: 50%;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
}

.section1 h1{
    color: #33475B;
    line-height: 60px;
}

.section1 p{
    color: #33475B;
    line-height: 30px;
}

/* sezione 2 */

.section2{
    width: 80%;
    margin: 40px auto 0 auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
}

.learnmore{
    margin: 50px;
    width: 20%;
    text-align: center;
}

.learnmore img{
    width: 80%;
    margin-bottom: 30px;
}

.feature{
    width: 60%;
    margin-top: 20px;
    margin-left: 40px;
}

.feature h2{
    line-height: 80px;
    color: #33475B;
}

.feature .sottotitolo{
    color: #33475B;
    line-height: 25px;
}

.feature h3{
    line-height: 80px;
    color: #33475B;
}

.feature .inline i, .feature .inline p{
   display: inline;
   margin-right: 10px;
}

.feature .inline p{
    color: #33475B;
}

.feature .inline i{
    color: #FB775A;
}

/* sezione 3 */

.section3{
    
    margin: 40px auto 0 auto;
    width: 80%;
    text-align: center;
}

.column1{
    width: 30%;
    padding: 1% 4% 0 4%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.column2{
    width: 30%;
    padding: 1% 4% 0 4%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 0 5%;
}

.column3{
    width: 30%;
    padding: 1% 4% 0 4%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.section3 .first-part img{
    height: 20vh;
    margin-top: 20px;
}

.section3 .first-part h2{
    color: #33475B;
    line-height: 80px;
}

.section3 .first-part p{
    color: #33475B;
    line-height: 25px;
}

.first-part{
    padding-bottom: 20%;
    border-bottom: 1px solid #33475B;
}

.second-part{
    padding-bottom: 20%;
}

.section3 .second-part div{
    text-align: left;
}

.section3 .second-part h3{
    color: #33475B;
    line-height: 80px;
}

.section3 .second-part p{
    color: #33475B;
    display: inline;
}

.section3 .second-part i{
    color: #FB775A;
}






