/* generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-width: 1200px;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float:right;
}

.btn{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.btn.btn-orange{
    display: inline;
    background-color: #FB775A;
    color: white;
    border: 1px solid #FB775A;
}

.btn.btn-blue{
    display: inline-block;
    border: 1px solid #33475B;
    background-color: white;
    color: #33475B;
}

.btn.btn-white{
    display: inline;
    background-color: white;
    color: #FB775A;
    border: 1px solid #FB775A;
}

.white{
    color: white;
}

/* header */


/* nav bar */

.nav-bar{
    width: 100%;
    padding: 0 10%;
    background-color: #F4F9FD;
    line-height: 100px;
    border-bottom: 1px solid #33475B;
    font-size: 20px;
    position: fixed;
    z-index: 999;
    margin-bottom: 100px;
}

.login{
    text-align: right;
}

.language-contact a{
    text-decoration: none;
    color:#33475B ;
}

.fa-globe-europe{
    margin-right: 3px;
    color: #33475B;
}

.language-contact .fa-angle-down{
    color: #33475B;
    margin-left: 3px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid steelblue;
}

.fa-search{
    color: steelblue;
    margin-right: 20px;
}

.space{
    margin-right: 20px;
}

/* logo bar */

.logo-bar{
    width: 100%;
    padding: 100px 10% 0 10%;
    background-color: white;
    line-height: 100px;
    font-size: 20px;
    position: relative;
}

.logo{
    position: absolute;
    top: 75%;
    transform: translateY(-40%);
}

.menu a{
    text-decoration: none;
    color: #33475B;
}

.menu .fa-angle-down{
    color: #33475B;
    margin-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    
}

/* jumbotron */

.h-principale{
    height: 654px;
    width: 100%;
    padding: 0 10%;
    background-color: #FEF2EF;
    background-image: url(../hubspot/img/jumbotron.png);
    background-size: 1550px;
    background-position: 100% 11%;
    background-repeat: no-repeat;
}

.jumbotron{
    height: 470px;
    position: relative;
    width: 45%;
    
}

.jumbo-text{
    position: absolute;
    top:20%;  
}

.jumbo-text h1{
    font-size: 300%;
    color: #33475B;
}

.jumbo-text .sottotitolo{
    margin: 25px 0 50px 0;
    color: #33475B;
    line-height: 25px;
}

.jumbo-text .btn.btn-orange.btn-large{
    padding: 20px 30px;
}

.jumbo-text .sottosottotitolo{
    margin-top: 50px;
    font-size: 14px;
    color: #33475B;
}

/* divisore */

.divisore{
    height: 100px;
    background-color: #AFEBE4;
    border-top: 4px solid #042D4C;
    border-bottom: 4px solid #042D4C;
}

/* main */

main{
    background-color: #F4F9FD;
}

/* sezione 1 */

.section1{
    width: 50%;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
}

.section1 h1{
    color: #33475B;
    line-height: 60px;
}

.section1 p{
    color: #33475B;
    line-height: 30px;
}

/* sezione 2 */

.section2{
    width: 80%;
    margin: 40px auto 0 auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: white;
}

.learnmore{
    margin: 50px;
    width: 20%;
    text-align: center;
}

.learnmore img{
    width: 80%;
    margin-bottom: 30px;
}

.feature{
    width: 60%;
    margin-top: 20px;
    margin-left: 40px;
}

.feature h2{
    line-height: 80px;
    color: #33475B;
}

.feature .sottotitolo{
    color: #33475B;
    line-height: 25px;
}

.feature h3{
    line-height: 80px;
    color: #33475B;
}

.feature .inline i, .feature .inline p{
   display: inline;
   margin-right: 10px;
}

.feature .inline p{
    color: #33475B;
}

.feature .inline i{
    color: #FB775A;
}

/* sezione 3 */

.section3{
    
    margin: 40px auto 40px auto;
    width: 80%;
    text-align: center;
}

.section3 .column1{
    width: 30%;
    padding: 1% 4% 0 4%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.section3 .column2{
    width: 30%;
    padding: 1% 4% 0 4%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 0 5%;
}

.section3 .column3{
    width: 30%;
    padding: 1% 4% 0 4%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.section3 .first-part img{
    height: 20vh;
    margin-top: 20px;
}

.section3 .first-part h2{
    color: #33475B;
    line-height: 80px;
}

.section3 .first-part p{
    color: #33475B;
    line-height: 25px;
}

.section3 .first-part{
    padding-bottom: 20%;
    border-bottom: 1px solid #33475B;
}

.section3 .second-part{
    padding-bottom: 20%;
}

.section3 .second-part div{
    text-align: left;
}

.section3 .second-part h3{
    color: #33475B;
    line-height: 80px;
}

.section3 .second-part p{
    color: #33475B;
    display: inline;
}

.section3 .second-part i{
    color: #FB775A;
}

/* sezione 4 */

.section4{
    width: 100%;
    padding: 0 10%;
    background-image: linear-gradient(to top right,#29A7BF,#33BFA9);
    text-align: center;
    color: white;
    padding-bottom: 100px;
}

.section4 .title h1{
    padding-top: 40px;
    font-size: 220%;
    margin-bottom: 30px;
}

.section4 .title p{
    line-height: 25px;
    margin-bottom: 60px;
}

.section4 .column1{
    width: 25%;
    border-right: 1px solid white;
}

.section4 .column2{
    width: 25%;
    border-right: 1px solid white;
}

.section4 .column3{
    width: 25%;
    border-right: 1px solid white;
}

.section4 .column4{
    width: 25%;
}

.section4 .first-part img,.section4 .second-part img{
    height: 5vh;
    margin-bottom: 20px;
}

.section4 .first-part h1,.section4 .second-part h1{
    margin-bottom: 20px;
    font-size: 200%;
}

.section4 .first-part h1::after,.section4 .second-part h1::after{
    content: '\002B';
    padding-left: 10px;
    font-size: 15px;
    vertical-align: middle;
    line-height: 100%;
}

.section4 .first-part p,.section4 .second-part p{
    margin-bottom: 20px;
}

.section4 .first-part{
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

/* sezione 5 */

.section5{
    height: 200px;
    width: 80%;
    margin: 40px auto 0 auto;
    position: relative;
}

.section5 .customers{
    width: 20%;
}

.section5 .customers h1{
    font-size: 400%;
    color:#33475B;
}

.section5 .customers .paragrafo{
    color:#33475B;
    position: absolute;
    line-height: 30px;
    font-size: 20px;
    bottom: 0;
}

.section5 .loghi{
    width: 60%;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%);
}

.section5 .loghi img{
    width: 20%;
}

.section5 .loghi li{
    list-style: none;
    display: inline;
    line-height: 50px;
    vertical-align: middle;
    padding-right: 4%;
}

/* sezione 6 */

.section6{
    margin: 40px auto 0 auto;
    width: 80%;
}

.section6 .title{
    width: 35%;
    padding-top: 40px;
}

.section6 .title h1{
    color: #33475B;
    margin-bottom: 30px;
    font-size: 180%;
}

.section6 .title .sottotitolo{
    line-height: 25px;
    margin-bottom: 40px;
    color: #33475B;
}

.section6 .title .sottosottotitolo{
    font-size: 14px;
    margin-top: 40px;
    color: #33475B;
    margin-bottom: 40px;
}

.section6 .image img{
    height: 50vh;
    width: auto;
}

/* footer */

.container-footer{
    background-color: #33475B;
    padding: 0 10%;
    padding-bottom: 40px;
}

.container-footer .column1{
    width: 25%;
}

.container-footer .column2{
    width: 25%;
}

.container-footer .column3{
    width: 25%;
}

.container-footer .column4{
    width: 25%;
}

.container-footer .table h3{
    padding-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.container-footer .table li{
    list-style: none;
    margin-bottom: 10px;
}

.container-footer .table li a{
    text-decoration: none;
}

.container-footer .table li .btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-footer .table li i{
    color: white;
    padding-right: 20px;
}

.container-footer .language{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    margin-top: 30px;
    padding-bottom: 20px;
}

.container-footer .language p{
    color: white;
    display: inline;
    padding:0 15px 0 15px;
}

.container-footer .copyright{
    color: white;
    margin-top: 30px;
}

.container-footer .copyright a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
}

















